<%- include('partials/header') %>

<div class="jumbotron text-center">
  <h1 class="display-4">Budgeting Web App</h1>
  <p class="lead">Track your spending like never before.</p>
  <hr class="my-4">
  <p>
    This is a budgeting web app that lets you create different budget sheets that you can add transactions into so
    you can efficiently track your expenses.
  </p>
    <a class="btn btn-primary btn-lg" href="/auth/google" role="button">Sign in with Google</a>

</div>

<%- include('partials/footer') %>
