<%- include('partials/header') %>
<div class="background">
  <div class="layer">
  <div class="triangle"></div>
<div class="jumbotron text-center">
  <h1 class="display-4">Budgeting Web App</h1>
  <p class="lead">Track your spending like never before.</p>
  <hr class="my-4">
  <p>
    This is a budgeting web app that lets you create different budget sheets that you can add transactions into so
    you can efficiently track your expenses.

    <br />
    <br />
    The sole purpose of this web app is to display the competency of it's creator, Will McMahan, in full stack web development . The web application utilizes NodeJS and ExpressJS
    to build the backend of the project. The database is created using MongoDB and leverages Mongoose to simplify interactions between the database and NodeJS. The project relies on
    GoogleOAuth 2.0 via PassportJS to handle authentication and the management of sessions. EJS is utilized to allow page templates to reduce redundancy in code. As of now, this
    application does not leverage any front end libraries/frameworks along the lines of Angular, React, or Vue.

    <br />
    <br />
    This is an ongoing project with the intended purpose of being a structured platform for which the creator, Will McMahan, can test and implement new techniques as he expands his
    reach into the field of Web Development. Please do not supply this application with sensitive, personally identifiable information.
    <br />
    <br />
    <br />
    *USE AT YOUR OWN RISK*
  </p>
    <a class="btn btn-primary btn-lg" href="/auth/google" role="button">Sign in with Google</a>

</div>
</div>
</div>

<%- include('partials/footer') %>
